<div class="col-md-6 col-sm-12">
    <form class="search" autocomplete="off">
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Ne Aramak İstemiştiniz?">
                <div class="input-group-btn">
                    <button class="btn btn-primary"><i class="ion-search"></i></button>
                </div>
            </div>
        </div>
                       
    </form>
</div>