
<header class="primary">
    <div class="firstbar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="brand">
                        <a href="/Templates/Magz-master/index.html">
                            <img src="/Templates/Magz-master/images/logo.png" alt="Magz Logo">
                        </a>
                    </div>
                </div>
               @await Component.InvokeAsync("_SearchbarComponentPartial")
                <div class="col-md-3 col-sm-12 text-right">
                    <ul class="nav-icons">
                        <li>
                            <a href="/Templates/Magz-master/register.html"><i class="ion-person-add"></i>
                                <div>Kayıt Ol</div></a></li>
                        <li>
                            <a href="/Templates/Magz-master/login.html"><i class="ion-person"></i>
                                <div>Giriş Yap</div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start nav -->
    <nav class="menu">
        <div class="container">
            <div class="brand">
                <a href="#">
                    <img src="/Templates/Magz-master/images/logo.png" alt="Magz Logo">
                </a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
            </div>
            <div class="mobile-toggle">
                <a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
            </div>
            <div id="menu-list">
                <ul class="nav-list">
                   
                    
                    
                    <li><a href="/Templates/Magz-master/category.html">Ana Sayfa</a></li>
                    <li><a href="/Templates/Magz-master/category.html">Kategoriler</a></li>
                    <li><a href="/Templates/Magz-master/login.html">Giriş Yap</a></li>
                    <li><a href="/Templates/Magz-master/register.html">Kayıt Ol</a></li>
                    <li><a href="/Templates/Magz-master/forgot.html">Parolamı Unuttum</a></li>
                    <li><a href="/Templates/Magz-master/reset.html">Parolamı Sıfırla</a></li>
                    <li><a href="/Templates/Magz-master/contact.html">İletişim</a></li>
                     
                    
                    
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- End nav -->
</header>