@model News
<div class="owl-carousel owl-theme slide" id="featured">
    <div class="item">
        <article class="featured">
            <div class="overlay"></div>
            <figure>
                <img src="@Model.ImageUrl" alt="Sample Article">
            </figure>
            <div class="details">
                <div class="category"><a href="category.html">@Model.Category.CategoryName</a></div>
                <h1><a href="single.html">@Model.Title</a></h1>
                <div class="time">@Model.CreatedDate.ToString("MMMM yy,dddd")</div>
            </div>
        </article>
    </div>
   
</div>

