<div class="owl-carousel owl-theme slide" id="featured">
    <div class="item">
        <article class="featured">
            <div class="overlay"></div>
            <figure>
                <img src="images/news/img04.jpg" alt="Sample Article">
            </figure>
            <div class="details">
                <div class="category"><a href="category.html">Computer</a></div>
                <h1><a href="single.html">Phasellus iaculis quam sed est elementum vel ornare ligula venenatis</a></h1>
                <div class="time">December 26, 2016</div>
            </div>
        </article>
    </div>
   
</div>

