@model List<News> 
<aside>
    


                    <h1 class="aside-title">Popüler <a href="#" class="all">Bütün Habaerler<i class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body">
                       @foreach (var item in Model.Take(6))
                       {
                           <article class="article-mini">
                               <div class="inner">
                                   <figure>
                                       <a href="single.html">
                                           <img src="@item.ImageUrl" alt="Sample Article">
                                       </a>
                                   </figure>
                                   <div class="padding">
                                       <h1><a href="single.html">@item.Title</a></h1>
                                   </div>
                               </div>
                           </article>
                           
                       }
                        
                        
                    </div>
                </aside>