<div class="col-md-8 col-sm-12 col-xs-12">
                
               @await Component.InvokeAsync("_FeatureComponentPartial")
                @await Component.InvokeAsync("_NewsComponentPartial")
                <div class="line transparent little"></div>
                <div class="row">
                    @await Component.InvokeAsync("_TagsComponentPartial")
                    @await Component.InvokeAsync("_HotNewsComponentPartial")
                </div>
                @await Component.InvokeAsync("_RandomNewsComponentPartial")
            </div>