@model List<Tag>
<div class="col-md-6 col-sm-6 trending-tags">
    <h1 class="title-col">Trending Tags</h1>
    <div class="body-col">
        <ol class="tags-list">
            @foreach (var item in Model.Take(8))
            {
                <li><a href="#">@item.TagName</a></li>
            }
            

        </ol>
    </div>
</div>