<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Haber Bülteni -->
            <div class="col-md-4 offset-md-1 col-sm-12">
                <div class="block">
                    <h1 class="block-title">Haber Bülteni</h1>
                    <div class="block-body">
                        <p>Abone olarak yeni makaleleri e-postanıza alacaksınız.</p>
                        <form class="newsletter">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="ion-ios-email-outline"></i>
                                </div>
                                <input type="email" class="form-control email" placeholder="Email Adresiniz">
                            </div>
                            <button class="btn btn-primary btn-block white">Abone ol</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sosyal Medya -->
            <div class="col-md-4 offset-md-2 col-sm-12">
                <div class="block">
                    <h1 class="block-title">Bizi Takip Edin</h1>
                    <div class="block-body">
                        <p>Bizi takip edin ve en son haberleri almak için iletişimde kalın.</p>
                        <ul class="social trp d-flex justify-content-center gap-3">
                            <li><a href="#" class="facebook"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
                            <li><a href="#" class="youtube"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#" class="instagram"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="ion-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Telif Hakkı -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div class="copyright p-3">
                    COPYRIGHT &copy; MAGZ 2025. TÜM HAKLARI SAKLIDIR.
                    <div><i class="ion-heart"></i> by <a href="#">Yasin Yaman</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
